.App {
  height: 100vh;
  width: 100%;

}

h1{
  font-size: 60px;
}

p{
  font-size: 25px;
}

.d-flex{
  display: flex;

}



.j-space-around{
  justify-content: space-around;
}

.flex-start{
  justify-content: flex-start;
}