.App {
  text-align: center;
  background-color: var(--bg);
  height: 100vh;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 60px;
}

p{
  font-size: 25px;
}